
.card {
    width: 250px;
    height: 250px;
}

.inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
  
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}

.front {
    background-color: #E5E7EB;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #3333;
    transform: rotateY(180deg);
   
}

.card-img {
    height: auto;
    width: 100%;
    
}

.para {
    padding: 20px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

.text {
    font-size: .75em;
    color: #555;
}

@media (max-width: 768px) {
    .front,.back {
        height: auto;
    }
    .card {
        width: 100%;
        height: auto;
    }
    .inner {
        height: auto;
    }
   
}